<div> This is working maybe</div>

<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <div class="title">
            <article class="post">
                {{title}}
        </div>
        <div class="meta">by {{user.username}} on {{created_at}}
            |
            <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
        </div>
        </article>
    </li>
    {{/each}}
</ol>